@import 'px2rem'; //第一步先把px2rem导入 

$designWidth : 750; //写scss之前，必须要先定义designWidth。
//值的设置方式    width: px2rem(750);    [data-dpr="2"]  div{font-size:14px;}
$themeColor:#f16f39;
$themeColorDeep:#dd3704;
$themeColorDeep1:#cc3102;
$borderColor:#d1cfd2;
$grayColor:#9B9B9B;
$iconsW:px2rem(224);  // 注意要用2X的图片  就是750 对应的尺寸
$iconsH:px2rem(364);


//.layui-m-layercont{line-height: 1.2!important;min-width: px2rem(200);}
//.layui-m-layer2 .layui-m-layercont i {width: px2rem(50)!important;height: px2rem(50)!important;}
//.layui-m-layer2 .layui-m-layercont p{font-size: px2rem(30);}
.layui-m-layercont{padding: 15px!important;}

.w710{width: px2rem(710);margin: 0 auto;}
.w690{width: px2rem(690);margin: 0 auto;}
.top{
    height: px2rem(98);display: flex;position: absolute;top: 0;width: 100%;max-width: 736px;
    a.gh{
        display: block;margin-left: px2rem(24);flex: 1;
        padding-top: px2rem(16);
        img{height: px2rem(60);width: px2rem(244);}
    }
    i.kf{font-size: px2rem(68);margin-right: px2rem(24);margin-top: px2rem(-10);padding-left: px2rem(24);}
}

.banner{
    width: 100%;height: px2rem(1046);background: url(../img/banner.png) no-repeat center center;background-size: cover;
    box-sizing: border-box;padding-top: px2rem(535);
}

.form_recommend{
    box-sizing: border-box;border-radius: px2rem(10);padding: px2rem(0) px2rem(25);background: #fff;border: 1px solid #d1cfd2;padding-bottom: px2rem(20);padding-top: px2rem(10);
    &.active{border-color: $themeColor;}
    .form_row{
        height: px2rem(75);border-bottom: 1px solid  $borderColor;display: flex;align-items: center;
        .iconfont{font-size: px2rem(36);color: #666;margin-left: px2rem(10);margin-right: px2rem(15);}
        b.iconfont{font-size: px2rem(18);}
        span.iconfont{margin-right: px2rem(8);display: none;color: $borderColor;}
        input[type="number"],input[type="text"]{font-size: px2rem(24);flex: 1;position: relative;top: 1px;}
        .line{width: 1px;height: px2rem(48);background: $borderColor;margin: 0 px2rem(14);}
        input[type="button"]{font-size: px2rem(24);background: #FFFFFF;width: px2rem(200);height: px2rem(50);border: 1px solid #f5a623;color: #f5a623;border-radius: px2rem(10);}
        input[type="button"].forbid{background: #ccc;border-color: #ccc;color: #000;}
        &:first-child{margin-bottom: px2rem(11);}
    }
    .dropDownBox{padding-left: px2rem(15);}
}
.btns{
    .btn_recommend{display: block;width: px2rem(460);@include beCenter(px2rem(72),px2rem(40));font-size: px2rem(28);color: #fff;margin: 0 auto;background: linear-gradient(to right,$themeColor,$themeColorDeep);margin-top: px2rem(25);}
    p{
        margin-top: px2rem(22);line-height: 1;font-size: px2rem(24);color: $grayColor;text-align: center;
        i{font-size: px2rem(24);margin-right: px2rem(6);}
    }
}

.bottom .form_recommend{
    border-color: transparent;background: #f6f6f6;padding-top: px2rem(30);
    form{background: #fff;padding: 0 0.1rem;}
    .form_row{
        &:last-child{border-bottom: none;}
    }
}

.banner_tip{ font-size: px2rem(24); color: #666; line-height: 1;margin-top: px2rem(36);margin-bottom: px2rem(30);text-align: center;}
.banner_tip span{ color: $themeColor;font-weight: bold;font-size: px2rem(28);}

.common_module{padding: px2rem(60) 0;}

.common_h{
    font-size: px2rem(36);color: #595757;line-height: 1;font-weight: bold;text-align: center;position: relative;margin-bottom: px2rem(60);
    &::after{content: '';position: absolute;left: 50%;transform: translateX(-50%);bottom: px2rem(-22);width: px2rem(60);height: px2rem(4);background: $themeColor;}
}

.hunter_ways_b{
    overflow: hidden;
    ul{
        white-space: nowrap;overflow-x: auto;padding: px2rem(10) 0;
        &::-webkit-scrollbar {
                display: none;
            }
    }
    .item{
        width: px2rem(480);height: px2rem(568); border-radius: 5px;display: inline-block;
        box-sizing: border-box;padding: px2rem(56) px2rem(28) px2rem(30);
        h2{font-size: px2rem(44);line-height: 1;}
        div.line{width: px2rem(94);height: px2rem(4);background: #e64e1a;margin-top: px2rem(20);margin-bottom: px2rem(24);}
        h3{white-space: normal;line-height: px2rem(40);font-size: px2rem(28);color: #666;margin-bottom: px2rem(24);}
        p{
            color: #666;font-size: px2rem(26);line-height: 1;margin-bottom: px2rem(14);
            span{font-weight: bold;margin-right: px2rem(10);}
        }
        div.toForm{margin-top: px2rem(44);border: 1px solid #e64e1a;height: px2rem(82);line-height: px2rem(82);text-align: center;font-size: px2rem(34);color: #e64e1a;border-radius: 5px;}
    }
    .item:first-child{
        margin-left: px2rem(30);
        margin-right: px2rem(20);
        box-shadow: 0 0 6px 0 rgba(230,78,26,0.5);
    }
    .item:last-child{
        margin-right: px2rem(28);
        box-shadow: 0 0 6px 0 rgba(209,179,128,0.5);
        div.line{background:#d1b380;}
        div.toForm{color: #d1b380;border: 1px solid #d1b380;}
    }
}

.process{
    box-sizing: border-box;background: url(../img/process.png) no-repeat #f6f6f6;background-size: cover;width: 100%;height: px2rem(1000);
}
.process_b{
    position: relative;
    li{
        width: px2rem(280);height: px2rem(212);border-radius: 5px;background: #fff;position: absolute;border: 1px solid $themeColor;text-align: center;
        box-sizing: border-box;padding-top: px2rem(40);
        i{display: block;margin: 0 auto;width: px2rem(44);height: px2rem(44);background: url(../img/icons.png) no-repeat px2rem(-180) 0;background-size: $iconsW $iconsH;}
        b{font-size: px2rem(28);line-height: 1;font-weight: bold;color: #595757;display: block;margin-top: px2rem(30);margin-bottom: px2rem(50);}
        .line{width: px2rem(62);height: px2rem(4);background: $borderColor;margin: 0 auto;margin-bottom:px2rem(16);}
    }
    li:nth-of-type(1){left: px2rem(32);top: px2rem(15);}
    li:nth-of-type(2){right: px2rem(32);top: px2rem(123);i{background-position-y: px2rem(-48);}}
    li:nth-of-type(3){left: px2rem(32);top: px2rem(287);i{background-position-y: px2rem(-192);}}
    li:nth-of-type(4){right: px2rem(32);top: px2rem(395);i{background-position-y: px2rem(-96);}}
    li:nth-of-type(5){left: px2rem(32);top: px2rem(559);i{background-position-y: px2rem(-240);}}
}

.faq{width: 100%;height: px2rem(1010);background: url(../img/problem.png) no-repeat;background-size: cover;box-sizing: border-box;overflow: hidden;}
.faq_b{
    ul{padding-left: px2rem(105);padding-top: px2rem(24);}
    li{display: inline-block;height: px2rem(92);line-height: px2rem(92);font-size: px2rem(30);position: relative;
    margin-bottom: px2rem(40);border: 1px solid #d1b380;border-radius: 5px;padding: 0 px2rem(40);}
    li:nth-of-type(2n+1){
        background:#fff;color: #666;
        &::before{content: '';position: absolute;top: 50%;transform: translateY(-50%);left: px2rem(-18);
        width: px2rem(19);height: px2rem(39);background: url(../img/jian1.png);background-size: cover;}
    }
    li:nth-of-type(2n){
        background: #d1b380;color: #fff;
        &::before{content: '';position: absolute;top: 50%;transform: translateY(-50%);left: px2rem(-18);
        width: px2rem(19);height: px2rem(39);background: url(../img/jian2.png);background-size: cover;}
    }
    li:nth-of-type(4){margin-top: px2rem(4);}
    li:nth-of-type(6){margin-top: px2rem(6);}
}

.plan{
    background: #f6f6f6;
}
.plan_b{
    padding: 0 px2rem(30);
    li{
        float: left;width: px2rem(334);height: px2rem(304);box-shadow: 0 0 6px 0 rgba(41, 38, 38, 0.2);
        border-radius: 5px;margin-right: px2rem(18);margin-bottom: px2rem(18);background: url(../img/plan.png);background-size: cover;
        box-sizing: border-box;padding: px2rem(36) px2rem(24) 0;
        h2{font-size: px2rem(34);line-height: 1;color: #666;}
        div.line{margin-top: px2rem(12);margin-bottom: px2rem(16);width: px2rem(60);height: px2rem(4);background: #e64e1a;}
        p{line-height: px2rem(40);color: #666;font-size: px2rem(28);}
        div.toForm{font-size: px2rem(28);border: 1px solid #d1b380;color: #d1b380;height: px2rem(60);
        line-height: px2rem(56);border-radius: 20px;text-align: center;margin-top: px2rem(26);}
    }
    li:nth-of-type(2n){margin-right: 0;}
}

#zturn{width: 100%;height: px2rem(440);overflow: hidden;position: relative;}
@media screen and (min-width:640px) {
    #zturn{position: relative;left: px2rem(-65);}
}
#zturn li { width: px2rem(470);  border-radius: 5px; text-align: center; box-sizing: border-box; overflow: hidden; transition: all 0.5s; -moz-transition: all 0.5s;
 -webkit-transition: all 0.5s; -o-transition: all 0.5s; cursor: default;}
#zturn li img{height: px2rem(440);}
#zturn li img.common{width: px2rem(340);}
.zturn-point{
    text-align: center;margin-top: px2rem(20);
    span{border: 2px solid transparent;box-sizing: border-box;width: px2rem(28);height: px2rem(28);display: inline-block;
    margin: 0 px2rem(10);position: relative;border-radius: 50%;}
    span::before{content: '';display: block;position: absolute;width: px2rem(14);height: px2rem(14);border-radius: 50%;
    background: #d1cfd2;left: 50%;top: 50%;transform: translate(-50%,-50%);}
    span.active{border-color: #9b9b9b;}
    span.active::before{background:#9b9b9b;}
}

.company{
    padding: 0 px2rem(20);padding-top: px2rem(30);padding-bottom: px2rem(60);
    h2{
        font-size: px2rem(38);line-height: 1;color: #666;font-weight: bold;text-align: center;margin-bottom: px2rem(62);position: relative;
        &:after{content: '';width: px2rem(60);height: px2rem(4);background: #4a79ff;position: absolute;bottom: px2rem(-22);left: 50%;transform: translateX(-50%);}
    }
    .company_con{
        img{width: 100%;}
    }
}

.success_tips{
    position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, 0.7);z-index: 31;
}
.success_tips_wrap{
    width: px2rem(600);height: px2rem(404);background: #fff;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);border-radius: px2rem(10);box-sizing: border-box;padding-top: px2rem(48);
    .icon-wuuiconxuan{font-size: px2rem(130);line-height: 1;color: #57a707;display: block;text-align: center;margin-bottom: px2rem(28);}
    .txt1{color: #666;font-size: px2rem(34);line-height: 1;margin-bottom: px2rem(22);text-align: center;}
    .txt2{
        font-size: px2rem(26);color: $grayColor;text-align: center;
        span{color: $themeColor;margin: 0 px2rem(7);}
    }
    a{display: block;width: px2rem(230);@include beCenter(px2rem(48),px2rem(40));font-size: px2rem(22);color: #fff;background: linear-gradient(to right,$themeColor,$themeColorDeep);margin: 0 auto;margin-top: px2rem(28);}
    .icon-guanbi2{font-size: px2rem(38);color: #d1cfd2;font-size: px2rem(38);position: absolute;top: px2rem(14);right: px2rem(14);}
}

.footer {
  margin-top: px2rem(40);
  padding-bottom: px2rem(40);
  div{
    text-align: center;font-size: px2rem(30);
    a{color: #9b9b9b;}
  }
}
.footer p {
  color: #D1CFD2;
  line-height: px2rem(36);
  font-size: px2rem(24);
  text-align: center;
}

.cousltBtn {
  display: none;
  position: fixed;
  z-index: 30;
  bottom: px2rem(100);
  right: px2rem(20);
  width: px2rem(120);
  height: px2rem(120);
  border-radius: 50%;
  background: linear-gradient(to bottom,$themeColor,$themeColorDeep);
  box-shadow: 0 0 6px $themeColor;
  color: #fff;
  text-align: center;
}
.cousltBtn i {
  display: inline-block;
  margin-top: px2rem(10);
  font-size: px2rem(44);
}
.cousltBtn p {
  font-size: px2rem(24);
}