.layui-m-layercont { padding: 15px !important; }

.w710 { width: 7.1rem; margin: 0 auto; }

.w690 { width: 6.9rem; margin: 0 auto; }

.top { height: 0.98rem; display: flex; position: absolute; top: 0; width: 100%; max-width: 736px; }
.top a.gh { display: block; margin-left: 0.24rem; flex: 1; padding-top: 0.16rem; }
.top a.gh img { height: 0.6rem; width: 2.44rem; }
.top i.kf { font-size: 0.68rem; margin-right: 0.24rem; margin-top: -0.1rem; padding-left: 0.24rem; }

.banner { width: 100%; height: 10.46rem; background: url(../img/banner.png) no-repeat center center; background-size: cover; box-sizing: border-box; padding-top: 5.35rem; }

.form_recommend { box-sizing: border-box; border-radius: 0.1rem; padding: 0rem 0.25rem; background: #fff; border: 1px solid #d1cfd2; padding-bottom: 0.2rem; padding-top: 0.1rem; }
.form_recommend.active { border-color: #f16f39; }
.form_recommend .form_row { height: 0.75rem; border-bottom: 1px solid #d1cfd2; display: flex; align-items: center; }
.form_recommend .form_row .iconfont { font-size: 0.36rem; color: #666; margin-left: 0.1rem; margin-right: 0.15rem; }
.form_recommend .form_row b.iconfont { font-size: 0.18rem; }
.form_recommend .form_row span.iconfont { margin-right: 0.08rem; display: none; color: #d1cfd2; }
.form_recommend .form_row input[type="number"], .form_recommend .form_row input[type="text"] { font-size: 0.24rem; flex: 1; position: relative; top: 1px; }
.form_recommend .form_row .line { width: 1px; height: 0.48rem; background: #d1cfd2; margin: 0 0.14rem; }
.form_recommend .form_row input[type="button"] { font-size: 0.24rem; background: #FFFFFF; width: 2rem; height: 0.5rem; border: 1px solid #f5a623; color: #f5a623; border-radius: 0.1rem; }
.form_recommend .form_row input[type="button"].forbid { background: #ccc; border-color: #ccc; color: #000; }
.form_recommend .form_row:first-child { margin-bottom: 0.11rem; }
.form_recommend .dropDownBox { padding-left: 0.15rem; }

.btns .btn_recommend { display: block; width: 4.6rem; height: 0.72rem; line-height: 0.72rem; text-align: center; border-radius: 0.4rem; font-size: 0.28rem; color: #fff; margin: 0 auto; background: linear-gradient(to right, #f16f39, #dd3704); margin-top: 0.25rem; }
.btns p { margin-top: 0.22rem; line-height: 1; font-size: 0.24rem; color: #9B9B9B; text-align: center; }
.btns p i { font-size: 0.24rem; margin-right: 0.06rem; }

.bottom .form_recommend { border-color: transparent; background: #f6f6f6; padding-top: 0.3rem; }
.bottom .form_recommend form { background: #fff; padding: 0 0.1rem; }
.bottom .form_recommend .form_row:last-child { border-bottom: none; }

.banner_tip { font-size: 0.24rem; color: #666; line-height: 1; margin-top: 0.36rem; margin-bottom: 0.3rem; text-align: center; }

.banner_tip span { color: #f16f39; font-weight: bold; font-size: 0.28rem; }

.common_module { padding: 0.6rem 0; }

.common_h { font-size: 0.36rem; color: #595757; line-height: 1; font-weight: bold; text-align: center; position: relative; margin-bottom: 0.6rem; }
.common_h::after { content: ''; position: absolute; left: 50%; transform: translateX(-50%); bottom: -0.22rem; width: 0.6rem; height: 0.04rem; background: #f16f39; }

.hunter_ways_b { overflow: hidden; }
.hunter_ways_b ul { white-space: nowrap; overflow-x: auto; padding: 0.1rem 0; }
.hunter_ways_b ul::-webkit-scrollbar { display: none; }
.hunter_ways_b .item { width: 4.8rem; height: 5.68rem; border-radius: 5px; display: inline-block; box-sizing: border-box; padding: 0.56rem 0.28rem 0.3rem; }
.hunter_ways_b .item h2 { font-size: 0.44rem; line-height: 1; }
.hunter_ways_b .item div.line { width: 0.94rem; height: 0.04rem; background: #e64e1a; margin-top: 0.2rem; margin-bottom: 0.24rem; }
.hunter_ways_b .item h3 { white-space: normal; line-height: 0.4rem; font-size: 0.28rem; color: #666; margin-bottom: 0.24rem; }
.hunter_ways_b .item p { color: #666; font-size: 0.26rem; line-height: 1; margin-bottom: 0.14rem; }
.hunter_ways_b .item p span { font-weight: bold; margin-right: 0.1rem; }
.hunter_ways_b .item div.toForm { margin-top: 0.44rem; border: 1px solid #e64e1a; height: 0.82rem; line-height: 0.82rem; text-align: center; font-size: 0.34rem; color: #e64e1a; border-radius: 5px; }
.hunter_ways_b .item:first-child { margin-left: 0.3rem; margin-right: 0.2rem; box-shadow: 0 0 6px 0 rgba(230, 78, 26, 0.5); }
.hunter_ways_b .item:last-child { margin-right: 0.28rem; box-shadow: 0 0 6px 0 rgba(209, 179, 128, 0.5); }
.hunter_ways_b .item:last-child div.line { background: #d1b380; }
.hunter_ways_b .item:last-child div.toForm { color: #d1b380; border: 1px solid #d1b380; }

.process { box-sizing: border-box; background: url(../img/process.png) no-repeat #f6f6f6; background-size: cover; width: 100%; height: 10rem; }

.process_b { position: relative; }
.process_b li { width: 2.8rem; height: 2.12rem; border-radius: 5px; background: #fff; position: absolute; border: 1px solid #f16f39; text-align: center; box-sizing: border-box; padding-top: 0.4rem; }
.process_b li i { display: block; margin: 0 auto; width: 0.44rem; height: 0.44rem; background: url(../img/icons.png) no-repeat -1.8rem 0; background-size: 2.24rem 3.64rem; }
.process_b li b { font-size: 0.28rem; line-height: 1; font-weight: bold; color: #595757; display: block; margin-top: 0.3rem; margin-bottom: 0.5rem; }
.process_b li .line { width: 0.62rem; height: 0.04rem; background: #d1cfd2; margin: 0 auto; margin-bottom: 0.16rem; }
.process_b li:nth-of-type(1) { left: 0.32rem; top: 0.15rem; }
.process_b li:nth-of-type(2) { right: 0.32rem; top: 1.23rem; }
.process_b li:nth-of-type(2) i { background-position-y: -0.48rem; }
.process_b li:nth-of-type(3) { left: 0.32rem; top: 2.87rem; }
.process_b li:nth-of-type(3) i { background-position-y: -1.92rem; }
.process_b li:nth-of-type(4) { right: 0.32rem; top: 3.95rem; }
.process_b li:nth-of-type(4) i { background-position-y: -0.96rem; }
.process_b li:nth-of-type(5) { left: 0.32rem; top: 5.59rem; }
.process_b li:nth-of-type(5) i { background-position-y: -2.4rem; }

.faq { width: 100%; height: 10.1rem; background: url(../img/problem.png) no-repeat; background-size: cover; box-sizing: border-box; overflow: hidden; }

.faq_b ul { padding-left: 1.05rem; padding-top: 0.24rem; }
.faq_b li { display: inline-block; height: 0.92rem; line-height: 0.92rem; font-size: 0.3rem; position: relative; margin-bottom: 0.4rem; border: 1px solid #d1b380; border-radius: 5px; padding: 0 0.4rem; }
.faq_b li:nth-of-type(2n+1) { background: #fff; color: #666; }
.faq_b li:nth-of-type(2n+1)::before { content: ''; position: absolute; top: 50%; transform: translateY(-50%); left: -0.18rem; width: 0.19rem; height: 0.39rem; background: url(../img/jian1.png); background-size: cover; }
.faq_b li:nth-of-type(2n) { background: #d1b380; color: #fff; }
.faq_b li:nth-of-type(2n)::before { content: ''; position: absolute; top: 50%; transform: translateY(-50%); left: -0.18rem; width: 0.19rem; height: 0.39rem; background: url(../img/jian2.png); background-size: cover; }
.faq_b li:nth-of-type(4) { margin-top: 0.04rem; }
.faq_b li:nth-of-type(6) { margin-top: 0.06rem; }

.plan { background: #f6f6f6; }

.plan_b { padding: 0 0.3rem; }
.plan_b li { float: left; width: 3.34rem; height: 3.04rem; box-shadow: 0 0 6px 0 rgba(41, 38, 38, 0.2); border-radius: 5px; margin-right: 0.18rem; margin-bottom: 0.18rem; background: url(../img/plan.png); background-size: cover; box-sizing: border-box; padding: 0.36rem 0.24rem 0; }
.plan_b li h2 { font-size: 0.34rem; line-height: 1; color: #666; }
.plan_b li div.line { margin-top: 0.12rem; margin-bottom: 0.16rem; width: 0.6rem; height: 0.04rem; background: #e64e1a; }
.plan_b li p { line-height: 0.4rem; color: #666; font-size: 0.28rem; }
.plan_b li div.toForm { font-size: 0.28rem; border: 1px solid #d1b380; color: #d1b380; height: 0.6rem; line-height: 0.56rem; border-radius: 20px; text-align: center; margin-top: 0.26rem; }
.plan_b li:nth-of-type(2n) { margin-right: 0; }

#zturn { width: 100%; height: 4.4rem; overflow: hidden; position: relative; }

@media screen and (min-width: 640px) { #zturn { position: relative; left: -0.65rem; } }
#zturn li { width: 4.7rem; border-radius: 5px; text-align: center; box-sizing: border-box; overflow: hidden; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; cursor: default; }

#zturn li img { height: 4.4rem; }

#zturn li img.common { width: 3.4rem; }

.zturn-point { text-align: center; margin-top: 0.2rem; }
.zturn-point span { border: 2px solid transparent; box-sizing: border-box; width: 0.28rem; height: 0.28rem; display: inline-block; margin: 0 0.1rem; position: relative; border-radius: 50%; }
.zturn-point span::before { content: ''; display: block; position: absolute; width: 0.14rem; height: 0.14rem; border-radius: 50%; background: #d1cfd2; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.zturn-point span.active { border-color: #9b9b9b; }
.zturn-point span.active::before { background: #9b9b9b; }

.company { padding: 0 0.2rem; padding-top: 0.3rem; padding-bottom: 0.6rem; }
.company h2 { font-size: 0.38rem; line-height: 1; color: #666; font-weight: bold; text-align: center; margin-bottom: 0.62rem; position: relative; }
.company h2:after { content: ''; width: 0.6rem; height: 0.04rem; background: #4a79ff; position: absolute; bottom: -0.22rem; left: 50%; transform: translateX(-50%); }
.company .company_con img { width: 100%; }

.success_tips { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7); z-index: 31; }

.success_tips_wrap { width: 6rem; height: 4.04rem; background: #fff; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 0.1rem; box-sizing: border-box; padding-top: 0.48rem; }
.success_tips_wrap .icon-wuuiconxuan { font-size: 1.3rem; line-height: 1; color: #57a707; display: block; text-align: center; margin-bottom: 0.28rem; }
.success_tips_wrap .txt1 { color: #666; font-size: 0.34rem; line-height: 1; margin-bottom: 0.22rem; text-align: center; }
.success_tips_wrap .txt2 { font-size: 0.26rem; color: #9B9B9B; text-align: center; }
.success_tips_wrap .txt2 span { color: #f16f39; margin: 0 0.07rem; }
.success_tips_wrap a { display: block; width: 2.3rem; height: 0.48rem; line-height: 0.48rem; text-align: center; border-radius: 0.4rem; font-size: 0.22rem; color: #fff; background: linear-gradient(to right, #f16f39, #dd3704); margin: 0 auto; margin-top: 0.28rem; }
.success_tips_wrap .icon-guanbi2 { font-size: 0.38rem; color: #d1cfd2; font-size: 0.38rem; position: absolute; top: 0.14rem; right: 0.14rem; }

.footer { margin-top: 0.4rem; padding-bottom: 0.4rem; }
.footer div { text-align: center; font-size: 0.3rem; }
.footer div a { color: #9b9b9b; }

.footer p { color: #D1CFD2; line-height: 0.36rem; font-size: 0.24rem; text-align: center; }

.cousltBtn { display: none; position: fixed; z-index: 30; bottom: 1rem; right: 0.2rem; width: 1.2rem; height: 1.2rem; border-radius: 50%; background: linear-gradient(to bottom, #f16f39, #dd3704); box-shadow: 0 0 6px #f16f39; color: #fff; text-align: center; }

.cousltBtn i { display: inline-block; margin-top: 0.1rem; font-size: 0.44rem; }

.cousltBtn p { font-size: 0.24rem; }
