*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;font-family:Arial, "微软雅黑",sans-serif;-webkit-box-sizing: border-box;box-sizing: border-box;}
img{border:none;max-width:100%;vertical-align:middle;}
body,p,form,input,button,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,textarea{-webkit-user-select:text;-ms-user-select:text;user-select:text;-webkit-appearance:none;font-size:1em;line-height:1.5em;}
table{border-collapse:collapse;}
input,select,textarea{outline:none;border:none;}
a{outline:0;cursor:pointer;*star:expression(this.onbanner=this.blur());color:#000;text-decoration:none;-webkit-touch-callout:none;}
a:link,a:active{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{}
em,i{font-style:normal;}
html{font-size:10px;}
.fl{float:left;}
.fr{float:right;}
body{-webkit-overflow-scrolling: touch;margin: auto;}
.container{margin:0 auto;max-width:640px; min-width:320px;color:#000;background: #f0f0f0;}
input,textarea{
    border: none;
    resize: none;  /*不让伸缩*/
    outline: none; /*清除选中效果*/
    -webkit-appearance: none;/*清楚浏览器默认的样式*/
}
/*清除浮动*/
.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
}

html{font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}

input::-webkit-input-placeholder {        /* WebKit, Blink, Edge */
        /* placeholder颜色  */
        color: #9B9B9B;
        /* placeholder字体大小  */
         /*font-size: 12px;*/
        /* placeholder位置  */
        /*text-align: right;*/
    }
input:-moz-placeholder{color: #9B9B9B;}    /* Mozilla Firefox 4 to 18 */
input::-moz-placeholder{color: #9B9B9B;}    /* Mozilla Firefox 19+ */
input:-ms-input-placeholder{color: #9B9B9B;}  /* Internet Explorer 10-11 */

strong,b{font-weight: normal;}
    



